* text=auto

*.cmd text eol=crlf
*.bat text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.cmake text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.md text eol=lf
*.txt text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tif binary
*.ttf binary
*.elf binary
*.so binary
*.dll binary
*.exe binary
*.mcd binary
